<div class="container">
    <footer>
        <nav class="footer">
            <div class="">
                <div class="bottom-footer-text">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="#/home">Home</a></li>
                        <li><a href="#/page1">Page 1</a></li>
                        <li><a href="#/page2">Page 2</a></li>
                        <li><a href="#/page3">Page 3</a></li>
                        <li><a href="#/page4">Page 4</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </footer>
</div>
