<div ng-controller="menuCtrl" ng-cloak class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">WebSiteName</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#/home">Home</a></li>
                    <li><a href="#/page1">Page 1</a></li>
                    <li><a href="#/page2">Page 2</a></li>
                    <li><a href="#/page3">Page 3</a></li>
                    <li><a href="#/page4">Page 4</a></li>
                </ul>
            </div>
        </div>
        <!--<div class="">
            External content for <span>{{currentNavItem}}</span>
        </div>-->
    </nav>
</div>
